
.first li a{
  color: white;
}
.first li:nth-child(2n+1){
  background-color: #f16c5a;
}

.first li:hover{
  box-shadow: 0 0 5px 2px silver;
}
 .img{
   width: 50%;
 }

.bordebajo{
  border-bottom: 1px solid rgb(217, 217, 226);
}
body{
  background-image: url(../img/background.jpg);
  background-size: contain;
}

.fotofondo{
  background-color: rgba(233, 168, 160, 0.9);
}
.menucolor{
  background-color: #f16c5a;
  color: white;
  border: .1px solid #fa988b;
  transition: 0.5s background-color;
}

.colorboton:visited{
  background: #f16c5a;
}

.menucolor:hover, .colorboton:hover{

    background-color: #ffa498;
    color: white;
}
.colorletra{
  color: white;
}

.colorboton{
  background-color: #f16c5a;
}



@media (max-width: 900px){

  .img {
    width: 80%;
  }
}
